{% extends "layout.html" %}
{% block title %}Tabele{% endblock %}
{% block content %}
<!-- SELECT -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 table-viewer">
            <table class="table table-stripped table-hover">
                <thead class="thead-dark">
                  <tr>
                    {% for name in colnames %}
                    <th>{{ name }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in table %}
                  <tr>
                    {% for field in row %}
                    <td> {{ field }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
