body {
    margin:0;
    position:relative;
    min-height: 100vh;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    color:#eee;
}
.header {
    background-color: #222831;
    padding-bottom: 4px;
}
.header>h1 {
    margin:0;
}

#navbar {
    background-color: #393e46;
}

#navbar>li>a {
    color: #eee;
}

#navbar>li>a:hover {
    color: #fff;
    border: solid 1px #eee;
    border-bottom: none;
}

.dropdown-toggle[aria-expanded="true"] {
    background-color: #393e46 !important;
    color: #fff;
}

.content {
    padding: 1em 0 4em 0;
    color: #222831;
}

label {
    font-weight: bold;
    text-align: right;
}

img#world_map {
    height: 100%;
    width: 100%;
}

.table-viewer {
    overflow-x: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 3em;
	background-color: #00adb5;
    text-align:	center;
}